@import "../../styles/commons.scss";

.task-list {
  margin: 1em 0;
  overflow: auto;
  height: 100%;
  padding: 1rem;
  
}

.task-card {
  
  position: relative;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid $grey-10;
  border-radius: 4px;
  background: $white;
  margin: 1em 0;

  .cross-button {
    border-radius: 3rem;
    height:1.5rem;
    border: 0;
    position: absolute;
    top:-10px;
    right: -2%;
    background: #e1e1e1;
  }

.task-card-row1 {
  display: flex;
  justify-content: space-between;
  background: $white;
}

.task-card-row2 {
  margin: 0.5em 0;
}

  .task-title {
    font-size: 1.5em;
    font-weight: 700;
  }

  .task-time {
    font-size: 1.5em;
    font-weight: 300;
  }
}
